{% extends "base.html" %}
{% block start %} 


<div class = "container card shadow-lg mt-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
  <tbody>
      {% for order in orders %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{order.get_cart_total}}</td>
        <td>True</td>
        <td> 
          {{created_at}}
        </td>
    </tr>
    {% endfor %}
        
    </tbody>
  </table>
</div>

  {% endblock %}